html {
    margin: 0, 0 ,0 ,0;
    background-color: grey;
}

body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0%;
    
}

h1 {
    margin-top: 4%;
}

h1:hover {
    transition: transform 1s;
    transform: scale(1.1);
}

p {
    font-family: sans-serif;
    text-align: center;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

/*navbar*/

.navbar {
    background-color: rgb(22, 11, 70);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
}

.navbar a {
    float: left;
    color: white;
    display: block;
    font-size: 20px;
    background-color: rgb(22, 11, 70);
    padding: 10px;
    font-family: sans-serif;
}

.navbar a:hover {
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
}

/*video*/

.video-container {
    height: 600px;
    width: 100%;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;

}

@media screen and (max-width: 600px) {
    #video {
        display: none;
    }
}

.overlay {
    text-align: center;
    top: 100px;
    color: white; /* Makes the font color white */
    width: 100%; /* Ensures the video-text container fills the width of the video */
    padding: 20px; /* This adds padding around the video-text container so that the background goes slightly beyond the text */
    position: relative;
    
}


/*column*/

* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    height: 400px;
    background-color: aliceblue;
}


@media screen and (max-width: 100%) {
    .column {
        overflow: auto;
    }
}

/*images*/ 

img {
    max-width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img:hover {
    transition: transform 1s;
    transform: scale(1.1);
}

/* form */
form {
    border-radius: 5px;
    padding: 15px;
    color: rgb(46, 89, 126);

}

input[type=text] {
    width: 100%;
    padding: 5px;
    text-align: left;
}

input[type=submit] {
    background-color: rgb(23, 23, 82);
    color: aliceblue;
    font-weight: bold;
    padding: 5px 15px;
    border: none;

}

input[type=submit]:hover {
    background-color: blue;
    color: aliceblue;
    transition: transform 1s;
    transform: scale(1.1);
}

.left {
    text-align: left;
    padding: 20px;
}

