html {
    margin: 0, 0 ,0 ,0;
    background-color: grey;
}

body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0%;
    
}

h1 {
    margin-top: 4%;
}

h1:hover {
    transition: transform 1s;
    transform: scale(1.1);
}

p {
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-right: 20px;
}

/*navbar*/

.navbar {
    background-color: rgb(22, 11, 70);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    
}

.navbar a {
    float: left;
    color: white;
    display: block;
    font-size: 20px;
    background-color: rgb(22, 11, 70);
    padding: 10px;
    font-family: sans-serif;
}

.navbar a:hover {
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
}

/*video*/


#oceanvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    min-width: 100%;
    z-index: -1;
    height: 100%;

}

@media screen and (max-width: 100% max-height:100%) {
    #oceanvideo {
        display: none;
    }
}

.overlay {
    text-align: center;
    top: 100px;
    color: white; 
    width: 100%; 
    height: auto;
    padding: 20px; 
    position: relative;
    -webkit-animation: moveoverlay 5s;
    animation: moveoverlay 5s;
    padding-bottom: 350px;
    
}

@keyframes moveoverlay {
    from {top: -100vw;} 
    to {top: 0vw;} 
}

/*slideshow*/


.slide {
    display: none;  /*this prevents the images from being displayed because we will use JS to display them*/
}

#slideshowcontain {
    width: 60%;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

#slideshowcontain a {
    text-decoration: none;
}

.slideimg {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgrey;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: .6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: aliceblue;
    color: black;
}

.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: perpetua, rockwell extra bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: black;
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: aliceblue;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
    z-index: 1;
}

.active, .dot:hover {
    background-color: black;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/*column*/

* { 
    box-sizing: border-box; 
}



.column1 {
    float: left;
    width: 50%;
    height: 450px;
    padding: 1.6%;
    background-color: rgb(124, 172, 221);
    z-index: -1;
}

.column2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: aliceblue;
    z-index: -1;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}


/*images*/ 

img {
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
    margin: auto auto auto auto;
}

img:hover {
    transition: transform 1s;
    transform: scale(1.1);
}

.backimg {
    width: 100%;
    height: 100%;
}

.popup {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: aliceblue;
    color: black;
    border: solid black;
    cursor: pointer;
    z-index: 1;
    -webkit-animation: movepopup 5s;
    animation: movepopup 5s;
}

@keyframes movepopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movepopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

.formpop {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    background-color: aliceblue;
}

.formcontain {
    max-width: 50vw;
    padding: 1vw;
    background-color: aliceblue;
}

.formcontain input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-size: 1vw;
}

button {
    font-family: "trebuchet ms", optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
    z-index: 1;
    position: top;
}

button:hover, .formcontain:hover, .btn:hover {
    color: aliceblue;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}
.formcontain .btn {
    background-color: aliceblue;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

.formcontain .cancel {
    background-color: black;
    color: aliceblue;
    border-color: darkgray;
}

.formcontain .cancel:hover {
    color: aliceblue;
    background-color: darkblue;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

@media screen and (min-width: 528px) and (max-width: 660px){
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px){
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px){
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 1050px){
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 1310px){
    p {
        font-size: 2vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 1535px){
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 2269px){
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}



@media screen and (max-width: 1080px) {
    .navbar a{
        width: 20%;
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 1080px) {
    .overlay {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 1725px) {
    .column1 {
        overflow: 550px;
    }
    .column2 {
        overflow: 550px;
    }
}

@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}



/* 
form {
    border-radius: 5px;
    padding: 15px;
    color: rgb(46, 89, 126);

}

input[type=text] {
    width: 100%;
    padding: 5px;
    text-align: left;
}

input[type=submit] {
    background-color: rgb(23, 23, 82);
    color: aliceblue;
    font-weight: bold;
    padding: 5px 15px;
    border: none;

}

input[type=submit]:hover {
    background-color: blue;
    color: aliceblue;
    transition: transform 1s;
    transform: scale(1.1);
}

.left {
    text-align: left;
    padding: 20px;
} */
